.tabnav{
  width: 100%;
  height: 36px;
  margin-bottom: 20px;
}


.ant-tabs-tab {
  margin:0!important;
  padding: 12px 0px!important;
}

/*----------------------------------------------------------------*/
.layout {
  width: 100%;
  height: 100%;
}
.logo {
  height: 64px;
  line-height: 64px;
  float: left;
}
.logo:after, .fc-header-right:after {
  content:'';
  display: block;
  clear: both;
}
.logo img{
  margin-right: 20px;
  vertical-align: top;
  height: 50px;
  margin-top: 7px;
  margin-left: -10px;
  float: left;
}
.logo .iconfont {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
.logo-text {
  color: #fff;
  font-size: 20px;
}
.fc-header-icon-wrap {
  float: left;
  transition: .2s;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  margin-top: 12px;
  margin-right: 10px;
}
.fc-header-icon-wrap:hover {
  background: #40a9ff;
  color: #fff;
}
.fc-header-dropdown {
  width: auto;
}
.fc-header-left .icon {
  float: none;
  font-size: 24px;
  cursor: pointer;
}
.fc-header-right {
  height: 64px;
  line-height: 64px;
  float: right;
  overflow: hidden;
}
.fc-header-right .fc-header-icon {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
.fc-header-right .text {
  font-size: 16px;
  color: #fff;
  margin-right: 15px;
  cursor: pointer;
}
.fc-header-right .text .iconfont {
  margin-right: 5px;
}
.fc-header-right .avatar {
  cursor: pointer;
  float: left;
  margin: 4px 10px 0 10px;
}
.sidebar-nav {
  position: relative;
}
.layout-toggle {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #f5f5f5;
  border-right: 1px solid #e8e8e8;
}
.layout-toggle .iconfont {
  color: #333333;
  font-size: 18px;
  cursor: pointer;
  transition: transform ease-in 0.8;
  display: inline-block;
}
.layout-toggle .iconfont.arrowright {
  transform: rotate(180deg);
}
.layout-toggle .iconfont:hover {
  color: #000000;
  font-weight: bold;
}
.fc-main-wrap {
  background: #f2f6f9;
}
.fc-main {
  width: 100%;
  height: 100%;
  overflow:hidden;
}
::ng-deep .navside-drawer.ant-drawer-content-wrapper {
  background-color: #ffffff;
  top: 64px;
  height: calc(100% - 64px);
}
::ng-deep .navside-drawer .ant-drawer-body {
  padding: 0;
}
::ng-deep .ant-tabs .anticon-close {
  cursor: pointer;
}
::ng-deep .fc-sidebar-menu {
  background: #ffffff;
}
::ng-deep .fc-sidebar-menu .ant-menu-inline-collapsed > .ant-menu-item {
  padding: 0!important;
  text-align: center;
}
::ng-deep .fc-sidebar-menu .ant-menu-inline-collapsed {
  width: 64px;
}
::ng-deep .fc-sidebar-menu .ant-menu-inline-collapsed .first-level-title {
  display: none;
}
::ng-deep .fc-sidebar-menu .ant-menu-inline-collapsed > .ant-menu-submenu {
  text-align: center;
}
::ng-deep
  .fc-sidebar-menu
  .ant-menu-inline-collapsed
  > .ant-menu-submenu
  > .ant-menu-submenu-title {
  padding: 0 !important;
}
::ng-deep .fc-sidebar-menu .menu-icon {
  color: #333333;
  margin-right: 10px;
}
::ng-deep .fc-sidebar-menu .ant-menu-inline-collapsed .menu-icon {
  margin-right: 0px;
}
::ng-deep .ant-menu-popup::before {
  opacity: 1;
  background-color: red;
}
::ng-deep .ant-menu-popup {
  z-index: 1000;
}
::ng-deep .fc-tabnav {
  min-height: 40px;
  background-color: #ffffff;
  box-shadow: 0 3px 5px -6px #1890ff;
}
::ng-deep .fc-tabnav .ant-tabs-bar {
  margin-bottom: 0;
}
::ng-deep .fc-tabnav .ant-tabs-nav .ant-tabs-tab {
  margin-left: 0px;
  margin-right: 0px;
  padding: 8px 5px 8px 16px;
}
::ng-deep .fc-tabnav .ant-tabs-nav-wrap {
  margin-bottom: 0;
}
::ng-deep .fc-tabnav .ant-tabs-nav .ant-tabs-tab .anticon {
  margin-right: 8px;
  font-size: 12px;
  transform: scale(0.9);
  margin-left: 10px;
}
.tab-home {
  padding-right: 15px;
}
::ng-deep .navside-drawer .ant-tabs-nav .ant-tabs-tab {
  width: 50%;
  text-align: center;
  margin: 0;
}
::ng-deep .navside-drawer .ant-drawer-body {
  height: 100%;
}
::ng-deep .navside-drawer .ant-drawer-body .ant-tabs {
  height: 100%;
  overflow: hidden;
}
::ng-deep .navside-drawer .ant-drawer-body .ant-tabs-content {
  height: 100%;
}
.navside-information-icon {
  padding: 0 10px;
}
.navside-information-icon .icon {
  font-size: 22px;
}
.navside-message-noread .navside-information-icon .icon{
  color:  #ffd740;
}
.navside-message-isread .navside-information-icon .icon{
  color:  #1890ff;
}
.navside-item-content {
  flex: 1;
  overflow: hidden;
}
.navside-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.navside-time {
  font-size: 12px;
  color: rgba(0,0,0,.54);
}
::ng-deep .navside-drawer .ant-list-item:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,.04);
}
::ng-deep .navside-drawer .ant-tabs-nav {
  width: 100%;
}
::ng-deep .navside-drawer .ant-tabs .ant-tabs-top-content > .ant-tabs-tabpane,
::ng-deep .navside-drawer .ant-tabs .ant-tabs-bottom-content > .ant-tabs-tabpane {
  height: calc(100% - 60px);
  overflow: auto;
}
