
.login{
  width: 100vw;
  height: 100vh;
  background-color:#2680ca;
  background-image: url('/assets/images/login_page.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  .login-col{
    height: 100vh;
  }
  .login-panel{
    width: 450px;
    height: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -2rem;
    margin: auto;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    padding:2rem;
    .login-log{
      width: 100px;
      height: 100px;
      background: #2680ca;
      border-radius: 50%;
      margin: 0 auto 20px;
      cursor: pointer;
    }
    .login-form {
      max-width: 100%;
    }
    .login-form-button {
      width: 100%;
    }
  }
}
