<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzFor="oldPassword" nzRequired>老密码</nz-form-label>
    <nz-form-control [nzSpan]="14" nzErrorTip="请输入密码!">
      <input nz-input type="password" id="oldPassword" formControlName="oldPassword" placeholder="请输入密码" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzFor="password" nzRequired>密码</nz-form-label>
    <nz-form-control [nzSpan]="14" nzErrorTip="请输入密码!">
      <input nz-input type="password" id="password" formControlName="password"
        (ngModelChange)="updateConfirmValidator()" placeholder="请输入密码" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzFor="checkPassword" nzRequired>确定密码</nz-form-label>
    <nz-form-control [nzSpan]="14" [nzErrorTip]="errorTpl">
      <input nz-input type="password" formControlName="checkPassword" id="checkPassword" placeholder="请再次输入密码" />
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">请输入密码!</ng-container>
        <ng-container *ngIf="control.hasError('confirm')">
          两次密码不一致!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
</form>
